body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
    
}

.container-fluid {
    padding: 0px;

}

.block-body {
    margin-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    
  
}

.block-body p {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    

}
#content-body {
     background-color: #428bca;
     padding-top: 15px;
     padding-left: 25px;
     height: 700px;
     -webkit-box-shadow: -8px 4px 39px 12px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 4px 39px 12px rgba(0,0,0,0.75);
box-shadow: -8px 4px 39px 12px rgba(0,0,0,0.75);

}

#content-body .img-responsive {
    margin: auto;
    border: solid #fff 5px;
 
}

#content-body h1, p {
    font-family: 'Covered By Your Grace', cursive;
    color: #fff;
    margin-top: 15px;
}

#content-body h1 {
    font-size: 42px;
}

#content-body p {
    font-size: 25px;
}

/*progress bars*/
.progress {
  height: 20px;
  margin: 15px;

}
.progress .skill {
  font: normal 12px 'Montserrat', sans-serif;
  line-height: 22px;
  padding: 0;
  margin: 0 0 0 15px;
  text-transform: uppercase;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 15px 0 0;
}

.progress-bar {
  text-align: left;
  transition-duration: 3s;
}

#progress {
    /*padding-left: 15px;*/
    margin-top: 50px;
}

#progress h4 {
    font-family: 'Covered By Your Grace', cursive;
    color: #fff;
    /*padding-left: 20px;*/
}

/*lines on sides*/
#progress h4 {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
#progress h4:after {
    display: inline-block;
    margin: 0 0 5px 10px;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #fff;
    width: 110px;
}
#progress h4:before {
    display: inline-block;
    margin: 0 10px 5px 0;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #fff;
    width: 110px;
}

/*content block headings*/

#education {
    width: 100%;
    margin-top: 35px;
    padding: 0;
    text-transform: uppercase;
    color: #428bca;
}
#education:after {
    display: inline-block;
    margin: 0 0 9px 12px;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #428bca;
    width: 375px;

}
#education:before {
    display: inline-block;
    margin: 0 12px 9px 0;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #428bca;
    width: 375px;
}

.block-body h4 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.block-body h5 {
    text-transform: uppercase;
}
.block-body p {
    font-size: 13px;
}

.block-body h6 {
    font-size: 13px;
    font-style: italic;
    text-transform: uppercase;
}

/*experience heading*/
#experience {
    width: 100%;
    margin-top: 35px;
    padding: 0;
    text-transform: uppercase;
    color: #428bca;
}
#experience:after {
    display: inline-block;
    margin: 0 0 9px 12px;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #428bca;
    width: 365px;

}
#experience:before {
    display: inline-block;
    margin: 0 12px 9px 0;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #428bca;
    width: 365px;
}

