body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}

.container-fluid {
    padding: 0px;

}

.block-body {
    margin-top: 40px;
    padding-left: 25px;
    
  
}

.block-body p {
    color: #000;
    font-family: 'Montserrat', sans-serif;

}
#content-body {
     background-color: #428bca;
     padding-top: 15px;
     padding-left: 25px;
     -webkit-box-shadow: -8px 4px 39px 12px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 4px 39px 12px rgba(0,0,0,0.75);
box-shadow: -8px 4px 39px 12px rgba(0,0,0,0.75);

}

#content-body .img-responsive {
    margin: auto;
    border: solid #fff 5px;
 
}

#content-body h1, p {
    font-family: 'Lobster', cursive;
    color: #fff;
    margin-top: 15px;
}

#content-body h1 {
    font-size: 42px;
}

#content-body p {
    font-size: 18px;
}

/*progress bars*/
.progress {
  height: 20px;
  margin: 15px;

}
.progress .skill {
  font: normal 12px 'Montserrat', sans-serif;
  line-height: 22px;
  padding: 0;
  margin: 0 0 0 15px;
  text-transform: uppercase;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 15px 0 0;
}

.progress-bar {
  text-align: left;
  transition-duration: 3s;
}

#progress {
    /*padding-left: 15px;*/
    margin-top: 50px;
}

#progress h4 {
    font-family: 'Lobster', cursive;
    color: #fff;
    /*padding-left: 20px;*/
}

/*lines on sides*/
#progress h4 {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
#progress h4:after {
    display: inline-block;
    margin: 0 0 5px 10px;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #fff;
    width: 110px;
}
#progress h4:before {
    display: inline-block;
    margin: 0 10px 5px 0;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #fff;
    width: 110px;
}

/*content block headings*/

#education {
    width: 100%;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #428bca;
}
#education:after {
    display: inline-block;
    margin: 0 0 9px 12px;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #428bca;
    width: 325px;

}
#education:before {
    display: inline-block;
    margin: 0 12px 9px 0;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #428bca;
    width: 325px;
}